
.container {
  margin: auto;
  width: 90%;
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
 }

#tweet-text {
  width: 100%;
  border: none;
  border-bottom: solid black;
  background-color: #f4f1ec;
  font-weight: bold;
}

.tweet {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.counter {
  font-family: Bungee;
}

.button {
  background-color: #4056A1;
  font-family: Bungee;
  color: white;
}

#error-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
  background-color: rgb(252, 223, 223);
  border: solid red;
  width: 40%;
  justify-content: space-around;
  padding-top: 7px;
  padding-bottom: 7px;
  color: red;
  display: none;
}

#error-message {
  margin-left: 5px;
  margin-right: 5px;
}
